<!DOCTYPE html>
<html>
<head>
  <title>ShitPedroSays</title>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <link href='http://fonts.googleapis.com/css?family=Lato:300,900' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag "application" %>
</head>
<body>

<div id="content">
  <div id="imgs" class="cycle-slideshow" data-cycle-timeout="150" data-cycle-speed="1" data-cycle-paused="true" data-cycle-fx="none" data-cycle-loader="true">
    <%= image_tag '960x720/1.jpg' %>
    <%= image_tag '960x720/2.jpg' %>
    <%= image_tag '960x720/3.jpg' %>
    <%= image_tag '960x720/4.jpg' %>
    <%= image_tag 'shit/1.jpg' %>
    <%= image_tag '960x720/5.jpg' %>
    <%= image_tag '960x720/6.jpg' %>
    <%= image_tag '960x720/7.jpg' %>
    <%= image_tag '960x720/8.jpg' %>
    <%= image_tag '960x720/9.jpg' %>
    <%= image_tag '960x720/10.jpg' %>
    <%= image_tag '960x641/1.jpg' %>
    <%= image_tag '960x641/2.jpg' %>
    <%= image_tag 'shit/2.jpg' %>
    <%= image_tag '960x641/3.jpg' %>
    <%= image_tag '960x641/4.jpg' %>
    <%= image_tag '960x641/5.jpg' %>
    <%= image_tag '960x641/6.jpg' %>
    <%= image_tag 'shit/3.jpg' %>
    <%= image_tag '960x641/7.jpg' %>
    <%= image_tag '960x641/8.jpg' %>
    <%= image_tag '960x641/9.jpg' %>
    <%= image_tag 'shit/4.jpg' %>
    <%= image_tag '960x641/10.jpg' %>
    <%= image_tag '960x641/11.jpg' %>
  </div>

  <%= yield %>
</div>

<%= javascript_include_tag "application" %>

<%= yield :jsapp %>

<script src="http://malsup.github.com/jquery.cycle2.js"></script>

</body>
</html>
